/* Octopus Energy brand colours used in the design */
:root {
  --hemocyanin: #180048;
  --ice: #f0ffff;
  --plum: #600e6b;
  --purpleHaze: #a49fc8;
  --siphon: #100030;
  --sohoLights: #f050f8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Gotham, helvetica, arial, sans-serif;
  color: var(--ice);
  font-size: 24px;
}

body {
  background: var(--siphon);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

header {
  display: inline-flex;
  height: 100px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: var(--siphon);
}

.wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.product_Image{
  border-radius: 50px;
  width: 100vw;
  height: 100vw;
}

.button {
  background-color: var(--sohoLights);
  min-height: 50px;
  min-width: 50px;
  border-radius: 15px;
  font-size: 16px;
}

.button_Cart {
  width: 100%;
  min-height: 100px;
  border-radius: 25px;
  font-size: 32px;
}

.description_Wrapper, footer {
  background-color: var(--hemocyanin);
}

.main_Wrapper {
  padding: 45px;
  padding-top: 150px;
}

.description_Wrapper, .spec_Wrapper, footer {
  padding: 45px;
}

.calculation_Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.quantity_Wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 64px;
}

h2 {
  margin-top: 0;
}

th {
  text-align: left;
  padding-right: 100px;
}

.calculation_Wrapper {
  padding: 45px 0;
}

header > button {
  width: 60px;
  height: 60px;
  background-color: var(--siphon);
}

.quantity_Wrapper > button:disabled {
  background-color: var(--plum);
}

.quantity_Headline {
  flex: 100%;
}